.burger_constructor {
	width: 600px;
	margin-top: 46px;
}

.constructor_extra_element {
	margin-bottom: 16px;
	margin-left: 30px;
}

.constructor_content {
	display: flex;
	flex-direction: column;
	gap: 16px;
	margin-bottom: 16px;
}

.dragging {
	opacity: 0;
}

.drop_container {
	padding-top: 16px;
}

.drop_container_highlight {
	border-radius: 50px;
	box-shadow: 0 4px 32px 0 #3333ff80, 0 0 8px 8px #3333ff40,
		0 0 16px 8px #3333ff40;
}

.drug_element {
	display: flex;
	align-items: center;
	gap: 8px;
}

.order_button_container {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 40px;
	margin-top: 24px;
	margin-right: 30px;
}

.order_button {
	box-shadow: 0 4px 32px 0 #3333ff80, 0 0 8px 8px #3333ff40,
		0 0 16px 8px #3333ff40;
}

.scroll {
	width: 590px !important;
	height: 480px !important;
}

.thumb {
	background-color: #8585ad !important;
}
