.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	align-self: center;
}

.image {
	margin-top: 20px;
}

.error {
	align-self: center;
}

.ingredient_details {
	display: flex;
	gap: 40px;
	margin-top: 32px;
	text-align: center;
}
